* {
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    font-family: Montserrat;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/bg-bottom.svg');
  
  
  
  }
  
  #head-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/bg-top.svg');
    background-color: antiquewhite;
   
    
  }
  
  #main-container {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
  
  
  .title {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  
  .toggle1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  
  #cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
  
  }
  
  #cart {
  
    width: 350px;
    height: 500px;
  
    border: 2px solid gray;
    border-radius: 10px;
    background-color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
  }
  
  
  #cart:hover {
  
    background-color: rgb(96, 91, 244);
    transform: scale(1.1, 1.05);
    transition: 0.5s;
    cursor: pointer;
  }
  
  .basic {
  
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-self: center;
    transform: translateY(50%);
  
  
  }
  
  .price {
  
    display: flex;
    justify-content: center;
    font-size: 60px;
    align-items: center;
    font-weight: 700;
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
  }
  
  
  .Storage {
  
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
  
  }
  
  .user {
  
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
  
  }
  
  .data-send {
  
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    border-bottom: 2px solid grey;
    padding-bottom:10px;
    
  }
  
  .btn {
  
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
  
  
  }
  
  .learn-btn {
  
  
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: rgb(166, 92, 234);
    color: white;
  
  }